.header{
  position: relative;
  top: 0;
  left: 0;
  height: 80vh;
  background: #151515;
  width: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}