.navbar {
  padding: 30px 0px;
  position: sticky;
  top: 0;
  z-index: 100;
}

.nav_links > ul {
  display: flex;
}
.nav_links > ul > li {
  list-style: none;
  padding: 0px 20px;
  color: #26a375;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  cursor: pointer;
}
.nav_links > ul > li::after {
  content: "";
  display: block;
  width: 40%;
  height: 2px;
  background: #1bbc9b;
  /* transition: width 0.3; */
  /* left: 50%; */
}

.nav_links > ul > li:hover::after {
  width: 100%;
  transition: width 0.3s ease-in;
  cursor: pointer;
}

.nav_logo{
  margin-top: 13px;
}

.nav_logo > .MuiTypography-root {
  color: #37af83;
  /* font-family: "Zen Dots", cursive !important; */
  font-weight: 700;
  font-size: large;
  letter-spacing: 1px;
  text-shadow: 0px 7px 5px #26a375;
}

.nav_logo > span:hover {
  cursor: pointer;
}
.nav_btn {
  padding: 0px 32px !important;
  border: none !important;

  background: linear-gradient(to right, #93f9b9, #3ba17e);
 
  max-height: 45px !important;
  color: aliceblue;
  border-top-left-radius: 10px !important;
  border-bottom-right-radius: 10px !important;
  transition: background-color 0.3s ease-in;
  box-shadow: 2px 2px 7px rgb(131, 130, 130);
  animation: float 2s ease-in-out infinite;
  color: #fcfcfcfc !important;
  margin-top: 9px !important
}



@keyframes float {
  0%{
    transform: translateY(0px)
  }
  50%{
    transform: translateY(-10px);
  }
  100%{
    transform: translateY(0px)
  }
}
