.navbar {
  display: flex;
  justify-content: space-around;
  padding-top: 30px;
  position: sticky;
  top: 0;
  z-index: 100;
}

.nav_links > ul {
  display: flex;
}
.nav_links > ul > li {
  list-style: none;
  padding: 0px 20px;
}
.nav_links > ul > li::after {
  content: "";
  display: block;
  width: 40%;
  height: 2px;
  background: #1bbc9b;
  /* transition: width 0.3; */
  /* left: 50%; */
}

.nav_links > ul > li:hover::after {
  width: 100%;
  transition: width 0.3s ease-in;
}
.nav_links > ul > li > a {
  text-decoration: none;
  color: #26a375;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
}

.nav_logo > span {
  color: #26a375;
  font-family: "Zen Dots", cursive !important;
  font-weight: 700;
  font-size: large;
  letter-spacing: 1px;
}

.nav_logo > span:hover {
  cursor: pointer;
}
.nav_extra > button {
  padding: 10px 20px;
  border: none;
  background-color: #28ad7d;
  color: aliceblue;
}
